[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eventlet = "==0.30.2"
python-dotenv = "*"
pyjwt = ">=2.6.*"
requests = ">=2.28.*"
pytest = ">=7.1.*"
redis = ">=4.4.0"
mongoengine = "*"
fastapi = {extras = ["all"], version = "*"}
fastapi-jwt-auth = "*"
fastapi-socketio = "*"
pydantic = {extras = ["email"], version = "*"}
werkzeug = "*"
load-dotenv = "*"
python-multipart = "*"
boto3 = {extras = ["crt"], version = "*"}

[dev-packages]
pylint = "*"
autopep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.11"
